<h1>Shop List</h1>
<p>Faça sua lista de compras de maneira prática</p>
<p><%= link_to 'Categorias', controller: 'categories' %></p>
<p><%= link_to 'Itens', controller: 'items' %></p>
<p><%= link_to 'Listas', controller: 'lists' %></p>
