<footer>
  <small>
    O aplicativo Lista do Super foi desenvolvido por Fred Fonseca para fins pedagógicos.
  </small>
  <nav>
    <ul>
      <li><a href="#"><%= image_tag "GitHub-Mark-32px.png", class: "icon" %></a></li>
      <li><a href="#"><%= image_tag "In-logo.png", class: "icon" %></a></li>
      <li><a href="#"><%= image_tag "FB-f-Logo__blue_29.png", class: "icon" %></a></li>
      <li><a href="#"><%= image_tag "glyph-logo_May2016.png", class: "icon" %></a></li>
    </ul>
  </nav>
</footer>